My identifiers:
<ul>
    <li *ngFor="let a of addresses | async">{{a}}</li>
</ul>

<hr/>
Connect to peer:
<input type="text" #peer>
<button type="submit" (click)='addPeer(peer.value)'>Add</button>

<hr/>
<a (click)="displayPeerList=!displayPeerList">Peers ({{ (peers)?.length}})</a>:
<ul [hidden]="!displayPeerList" style="max-height: 200px; overflow-y:scroll;">
    <li *ngFor="let p of peers">{{p}}</li>
</ul>

<hr/>
Publish something
<textarea type="text" #message></textarea>
<button type="submit" (click)='publish(message.value)'>Publish</button>

<hr/>
Messages:
<ul style="max-height: 200px; overflow-y:scroll;">
    <li *ngFor="let m of messages">{{m}}</li>
</ul>

<button (click)="startRecording()">Record</button>
<button (click)="stopRecording()">Stop</button>

<video id="media" autoplay></video>
